
.card-tela {
  background: rgba(226, 12, 12, 0.959); 
  backdrop-filter: blur(2px);
  background: transparent;
  overflow: hidden; 
  max-width: 200px; 
  width: 100%;
  top: 99px;
  position: absolute;
  height: 300px;
  border-radius: 10px;
}



button {
  background: #212020;
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group input[type="email"],
.form-group input[type="password"]{
  width: 80%;
  padding: 20px 0 0 20px;
  padding-bottom: 0px;
  margin-bottom: 5px;
  backdrop-filter: blur(2px);
  background: transparent;
  margin-left: 5px;
}
 
.card :not(h6), .botao {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3px;
  margin-top: 5px;
}

.card-tela :not(h2){
  margin-left: 8px;
}

.login {
  color: #2420f0;
  text-shadow: 
    1px 1px 0 #031891,
    -1px 1px 0 #002fff,
    1px -1px 0 #eeff00,
    -1px -1px 0 #07c026;
}

.botao {
  margin-left: 0;
  width: 90%;
  background-image:linear-gradient(to left, #4163fa, #001aff, #001aff,#4163fa);
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  
}

.grid button{
  padding: 0px;
  display: flex;
 
}

.botao:hover {
  background-image:linear-gradient(to left, #051352, #6270ee, #5f6ef1,#001aff);
}

p{
  position: absolute;
  bottom: 41px;
  left: 25px;
  color: #ffffff;
  font-size: 9px;
}
.senha{
  position: absolute;
  color: #ccc;
  bottom: 41px;
  right: 10px;
  font-size: 9px;
}



.card-criar {

  background: rgba(238, 57, 57, 0.582); 
  backdrop-filter: blur(2000px);
  background: transparent;
  overflow: hidden; 
  max-width: 200px; 
  width: 100%;
  top: 99px;
  position: absolute;
  height: 350px;
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgba(250, 250, 250, 0.1);
}


.nova-google{
  position: relative;
  display: flex;
  bottom: -85px;
  gap: 1px;
  cursor: pointer;
  left: 70px;
}

.form-group {
  position: relative;
  margin: 3px 0;
}
.form-group input {
  margin-left: -20px;
  font-size: 10px;
  border-radius: 5px;
  border: #acacac solid 1px;
  color: #eee;
  caret-color: transparent; 
}
.form-label {
  position: absolute;
  top: 10px;
  font-size: 10px;
  color: #acacac;
  left: 28px;
  pointer-events: none;
  transition: 0.15s all ease;
}

.form-group input::placeholder {
  color: transparent; 
}

.form-group input:focus ~ .form-label-login,
.form-group input:not(:placeholder-shown) ~ .form-label {
  transform: translateY(-18px);
  font-size: 10px;
  color: #fff; 
  background-color: #463636;
}
.salvar_login{
  display: flex;
  bottom: 108px;
  margin-left: 10px;
}
.check{
  display: flex;
  bottom: 108px;
  margin-left: 15px;

}
.senha{
  display: flex;
  bottom: 108px;
}
.nao_tem_conta{
  display: flex;
  bottom: 85px;
  left: 10px;
}
.nao_tem_conta a{
  color: #ff0404;
  text-decoration: none;
 

}

.faca {
  position: absolute;
  display: flex;

  bottom: 35px;
left: 57px;
  cursor: pointer;
}

.ou-login{
 position: absolute;
 bottom: 60px;
 color: #fff;
 font-size: 10px;
}
.ou-login::before,
.ou-login::after {
  content: "";
  display: inline-block;
  width: 80px;
  height: 0.3px;
  background-color: #eee;
  bottom: 30px;
}

.ou-login::after{
  margin-left: 4px;
}
.ou-login::before{
  margin-right: 5px;
}
.card-criar.hidden {
  display: none; 
}


