.card-criar {
  backdrop-filter: blur(2000px);
  background: transparent;
  overflow: hidden;
  max-width: 800px; 
  width: 100%;
  top: 99px;
  position: absolute;
  height: 697px; 
  border-radius: 10px;
  box-shadow: 0 25px 30px rgba(32, 3, 134, 0.781);
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.grid-nova {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.grid-1 {
  grid-column: 1;
}
.grid-2{
  grid-column: 2;
}

.card-criar .form-group input {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  backdrop-filter: blur(2px);
  background: transparent;
  border-radius: 5px;
  border: 1px solid #acacac;
  color: #eee;
}
.card-criar .form-group input{
  width: 80%;
  padding: 5px 0 0 20px;
  padding-bottom: 0px;
  margin-bottom: 10px;
  backdrop-filter: blur(2px);
  background: transparent;
  margin-left: 5px;
}

.card-tela :not(h2){
  margin-left: 8px;
}

.nova-login {
  display: flex;
  justify-content: center;
  color: #2420f0;
  text-shadow: 
    1px 1px 0 #2c0be9,
    -1px 1px 0 #002fff,
    2px -2px 0 #f3f584,
    -1px -1px 0 #07c026;
}

.botao {
  margin-left: 0;
  width: 90%;
  background-image:linear-gradient(to left, #4163fa, #001aff, #001aff,#4163fa);
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  
}

.grid button{
  padding: 0px;
  display: flex;
 
}

.botao:hover {
  background-image:linear-gradient(to left, #051352, #6270ee, #5f6ef1,#001aff);
}

p{
  position: absolute;
  bottom: 41px;
  left: 25px;
  color: #ffffff;
  font-size: 9px;
}
.senha{
  position: absolute;
  color: #ccc;
  bottom: 41px;
  right: 10px;
  font-size: 9px;
}

.ja_tem_conta a{
  color: #39ca1d;
}
.nova-google{
  position: relative;
  display: flex;
  bottom: -75px;
  gap: 10px;
  cursor: pointer;
  left: 320px;
}

.form-group {
  position: relative;
  margin: 3px 0;
}
.form-group input {
  margin-left: -20px;
  font-size: 40px;
  border-radius: 5px;
  border: #acacac solid 1px;
  color: #eee;
  caret-color: transparent; 
}
.form-label {
  position: absolute;
  top: 10px;
  font-size: 10px;
  color: #acacac;
  left: 28px;
  pointer-events: none;
  transition: 0.15s all ease;
}

.form-group input::placeholder {
  color: transparent; 
}

.form-group input:focus ~ .form-label-login,
.form-group input:not(:placeholder-shown) ~ .form-label {
  transform: translateY(-18px);
  font-size: 15px;
  color: #fff; 
  background-color: #463636;
}

.senha{
  display: flex;
  bottom: 108px;
}
.ja_tem_conta{
  display: flex;
  bottom: 150px;
  left: 30px;
  font-size: 16px;
}

.criar-conta {
  display: flex;
  bottom: 60px;
  left: 320px;
  font-size: 16px;
}
.ou-login-nova{
  position: absolute;
  bottom: 90px;
  color: #fff;
 }
 .ou-login-nova::before,
 .ou-login-nova::after {
   content: "";
   display: inline-block;
   width: 350px;
   height: 0.3px;
   background-color: #00ff95c2;
 }
 
 .ou-login-nova::after{
   margin-left: 4px;
 }
 .ou-login-nova::before{
   margin-right: 5px;
 }

.card-criar.hidden {
  display: none; 
}

.salvar_login-nova {
  display: flex;
  bottom: 190px;
  left: 55px;
  font-size: 16px;
}

.card-criar .check {
  display: flex;
  top: 3px;
  left: 10px;
  width: 20px;
  height: 20px; 
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #ffffff;
  border: 2px solid #ff9100;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}

.card-criar .check:checked {
  background-color: #4CAF50; /* Cor do fundo quando marcado */
  border-color: #4CAF50;
}

.card-criar .check:checked::after {
  content: "";
  position: absolute; /* Adicionei a posição absoluta para o pseudo-elemento */
  top: 3px;
  left: 7px;
  width: 4px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.endereco{
  display: flex;
  position: relative;
  left: 80px;
  padding-bottom: 10px;
  color: #f8e3e3;
}