
#emprestimos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Estilo para cada cartão de empréstimo */
.emprestimo-card {
  background: linear-gradient(to bottom, rgba(65, 109, 255, 0.171), rgba(151, 153, 252, 0.178));
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: 90%;
  max-width: 1500px;
  position: relative;
  display: grid;
  top: 40px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px; 
  align-items: center; 
  cursor: pointer;
}
.emprestimo-card:nth-child(even) {
  background: linear-gradient(to bottom, rgba(151, 153, 252, 0.336), rgba(65, 109, 255, 0.226)); /* Outra cor para os cards pares */
}

/* Cores para bordas baseadas no estado do empréstimo */
.green {
  border: 2px solid green;
}

.yellow {
  border: 2px solid yellow;
}

.red {
  border: 2px solid red;
}

/* Estilo para o título que ocupa toda a largura do cartão */
.emprestimo-card h2 {
  font-size: 1.5em;
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  grid-column: 1 / span 4; /* Faz o título ocupar a largura total */
}

/* Estilo para os parágrafos dentro dos cartões */
.emprestimo-card p {
  margin: 0; /* Remove margens dos parágrafos */
  font-size: 1em;
  color: rgb(0, 0, 0);
}

/* Alinhamento específico de cada item na grid */
.foto-livro{
  grid-column: 1;
}
.usuario-emprestimo {
  grid-column: 2;
  color: black;
  position: relative;
  left: -80px;
  text-align: left;
}

.livro-emprestimo {
  grid-column: 3;
  text-align: left; 
}

.data_devolucao-emprestimo {
  grid-column: 4;
  text-align: left;
}

.dias_restantes-emprestimo {
  grid-column: 5;
  text-align: left; 
}

.lista-emprestimo {
  position: relative;
  display: flex;
  top: 60px; 
  align-items: center;
  justify-content: center;
  }
  

