
.nav-100{
  background: linear-gradient(to right, rgb(116, 129, 252), rgb(0, 0, 0));
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: -1;

}
.nav-menu {
  background: linear-gradient(to bottom, rgb(74, 92, 253), rgb(247, 85, 85));
  height: 50px;
  width: 180px;
  position: fixed;
  left: 0;
  z-index: 99999;
  transition: height 0.5s ease;
  overflow: hidden;
  border-radius: 0 0 70px 0;
}

.menu-content {
  padding-top: 50px; 
}

.nav-menu.nav-open {
  height: 100vh;
}

.nav-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  display: none;
}

.nav-menu li {
  margin-bottom: 10px;
  cursor: pointer;
  font-family: 'Days One', sans-serif;
}

.nav-menu img {
  margin-right: 5px;
  vertical-align: middle;
}

#home-icon {
  position: relative;
  top:10px;
  margin-left: 5px;
  cursor: pointer;
}

#close-menu {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
  color: rgb(148, 5, 5);
}
.sair{
  position: relative;
  bottom: -65vh;

}

.nav-menu.nav-open .nav-item {
  display: block;
  margin-left: 5px;
}

.perfil{
  position: absolute;
  right: 10px;
  border-radius: 50%;
  top: 5px;
}



.nav-hover .menu-content li:hover {
  background:linear-gradient(to left, rgba(118, 150, 255, 0.801), rgba(255, 255, 255, 0.938));;
  padding: 10px;
  margin: 0;
  color: rgb(55, 69, 82);
  border-radius: 5px;
  border: 1px solid rgb(0, 136, 255);
}