#usuarios-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
}

.usuario-card {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  top: 70px;
}

.usuario-card:hover {
  background-color: #e0e0e0;
}

.lista-usuarios{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 60px;
}
